<!DOCTYPE html>
<html>
<head>
	<title>Who Runs That Bus?</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <style type="text/css">
            .leaflet-control-zoom-fullscreen { background-image: url(https://github.com/brunob/leaflet.fullscreen/raw/master/icon-fullscreen.png); }
            #map { width: 700px; height: 600px; border: 1px solid #ccc }
            /* on selector per rule as explained here : http://www.sitepoint.com/html5-full-screen-api/ */
            #map:-webkit-full-screen { width: 100% !important; height: 100% !important; }
            #map:-moz-full-screen { width: 100% !important; height: 100% !important; }
            #map:full-screen { width: 100% !important; height: 100% !important; }

            #push, #footer {
                height: 60px;
            }
            #footer {
                background-color: #f5f5f5;
            }
            .container .credit {
                margin: 20px 0;
            }
	</style>
</head>
<body>
    <div class="container">
    <div class="hero-unit">
        <p>Answering the question....</p>
        <h1>Who Runs That Bus?</h1>
        <p>
            Obviously, it's quite easy to tell if you're looking at a bus. But if you have a single operator bus ticket, where can you travel? How dominant and/or localised are the major operators? How do the services of the different operators vary over time?
        </p>
    </div>
    <h2>Check a service</h2>
    <form id="form">
        <fieldset>
        <input type="text" id="service" placeholder="e.g. 219" class="input-medium search-query">
        <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
    <div id="output"></div> 


    <h2>Map</h2>
    <div id="map"></div>
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="https://raw.github.com/brunob/leaflet.fullscreen/master/Control.FullScreen.js"></script>
    <script>
        var map;
        var agencies;
        var routes;
        var chartdata;
        var day = 'monday';

        $.getJSON('/media/agencies.json', function (data) {
            agencies = data;
        });
        $.getJSON('/media/routes.json', function (data) {
            routes = data;
        });
        $.getJSON('/media/chartdata.json', function (data) {
            chartdata = data;
        });
        $('#form').submit(function () {
            route = routes[$('#service').val()];
            if (route == undefined) {
                output = 'Error';
            }
            else {
                $('#output').text(route);
                output = 'The operators of the '+$('#service').val()+' are:';
                for (var aid in route) {
                    console.log(agencies[aid]);
                    output += '<br/>'
                    output += '<a href="'+agencies[aid]['agency_url']+'">';
                    output += agencies[aid]['agency_name'];
                    output += '</a>'
                }
            }
            $('#output').html('<div id="output_box" class="alert alert-info">   <button type="button" class="close" data-dismiss="alert">&times;</button>'+output+'</div>');
            return false;
        });

        var mapquestOSM = new L.TileLayer("http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png", {
                subdomains: ["otile1", "otile2", "otile3", "otile4"],
                attribution: 'Tiles courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a>. Map data (c) <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> contributors, CC-BY-SA.'
        });

        var hostedTiles = new L.tileLayer('http://{s}.tiles.mapbox.com/v3/bjwebb.map-gqq4n83h/{z}/{x}/{y}.png', {
            attribution: 'Tiles Courtesy of <a href="http://tiles.mapbox.com/mapbox/map/geography-class" target="_blank">MapBox</a>',
            subdomains: ["a", "b", "c", "d"],
        });

        var lex = L.tileLayer('http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
                key: 'BC9A493B41014CAABB98F0471D759707'
        })

        var mbTiles = new L.tileLayer('/mbtilesmap/bus/{z}/{x}/{y}.png', {
            attribution: 'Tiles Courtesy of <a href="http://tiles.mapbox.com/mapbox/map/geography-class" target="_blank">MapBox</a>',
            opacity: 0.7
        });

        map = new L.Map("map",{
                layers: [hostedTiles, mbTiles],
                center: [53.4750,-2.2522],
                zoom: 9,
                minZoom: 8,
                maxZoom: 16
        });
        var fullScreen = new L.Control.FullScreen(); 
        map.addControl(fullScreen);

        var baseLayers = {
                "MapBox Tiles": hostedTiles,
                "MapQuest OSM": mapquestOSM,
                "Leaflet example": lex
        };
        var overlays = {
                "Local MBTiles File": mbTiles
        };

        layersControl = new L.Control.Layers(baseLayers, overlays, {
                collapsed: true
        });

        map.addControl(layersControl);

        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
      function drawChart() {
        console.log(chartdata);
        var data = google.visualization.arrayToDataTable(chartdata[day]);

        var options = {
          title: 'Graph for '+day,
          vAxis: {title: 'Hour beginning'},
          isStacked: true
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <h2>Variation over a Week</h2>
    <div class="btn-group">
      <button class="btn" onclick="day='monday';drawChart()">Monday</button>
      <button class="btn" onclick="day='tuesday';drawChart()">Tuesday</button>
      <button class="btn" onclick="day='wednesday';drawChart()">Wednesday</button>
      <button class="btn" onclick="day='thursday';drawChart()">Thursday</button>
      <button class="btn" onclick="day='friday';drawChart()">Friday</button>
      <button class="btn" onclick="day='saturday';drawChart()">Saturday</button>
      <button class="btn" onclick="day='sunday';drawChart()">Sunday</button>
    </div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="push"></div>
    </div>
    </div>

    <div id="footer">
    <div class="container">
    <p class="muted credit">
    Created by <a href="http://bjwebb.co.uk">Ben Webb</a> for <a href="http://futureeverything.org/summit/conference/workshops-fringe-events/innovation-challenge/">Routes to the Future</a> in March 2013.
    </p>
    </div>
    </div>
</body>
</html>
