<!DOCTYPE html>
<html>
<head>
	<title>Who Runs That Bus?</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <style type="text/css">
            .leaflet-control-zoom-fullscreen { background-image: url(https://github.com/brunob/leaflet.fullscreen/raw/master/icon-fullscreen.png); }
            #map { width: 700px; height: 600px; border: 1px solid #ccc }
            /* on selector per rule as explained here : http://www.sitepoint.com/html5-full-screen-api/ */
            #map:-webkit-full-screen { width: 100% !important; height: 100% !important; }
            #map:-moz-full-screen { width: 100% !important; height: 100% !important; }
            #map:full-screen { width: 100% !important; height: 100% !important; }
	</style>
</head>
<body>
    <div class="container">
    <div class="hero-unit">
        <h1>Who Runs That Bus?</h1>
        <p>
            Description.
        </p>
    </div>
    <h2>Check a service</h2>
    <form id="form">
        <fieldset>
        <input type="text" id="service" placeholder="e.g. 219" class="input-medium search-query">
        <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
    <div id="output"></div> 


    <h2>Map</h2>
    <div id="map"></div>
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="https://raw.github.com/brunob/leaflet.fullscreen/master/Control.FullScreen.js"></script>
    <script>
        var map;
        var agencies;
        var routes;

        $.getJSON('/media/agencies.json', function (data) {
            agencies = data;
        });
        $.getJSON('/media/routes.json', function (data) {
            routes = data;
        });
        $('#form').submit(function () {
            route = routes[$('#service').val()];
            if (route == undefined) {
                output = 'Error';
            }
            else {
                $('#output').text(route);
                output = 'The operators of the '+$('#service').val()+' are:';
                for (var aid in route) {
                    console.log(agencies[aid]);
                    output += '<br/>'
                    output += '<a href="'+agencies[aid]['agency_url']+'">';
                    output += agencies[aid]['agency_name'];
                    output += '</a>'
                }
            }
            $('#output').html('<div id="output_box" class="alert alert-info">   <button type="button" class="close" data-dismiss="alert">&times;</button>'+output+'</div>');
            return false;
        });

        var mapquestOSM = new L.TileLayer("http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png", {
                subdomains: ["otile1", "otile2", "otile3", "otile4"],
                attribution: 'Tiles courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a>. Map data (c) <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> contributors, CC-BY-SA.'
        });

        var hostedTiles = new L.tileLayer('http://{s}.tiles.mapbox.com/v3/mapbox.geography-class/{z}/{x}/{y}.png', {
            attribution: 'Tiles Courtesy of <a href="http://tiles.mapbox.com/mapbox/map/geography-class" target="_blank">MapBox</a>',
            subdomains: ["a", "b", "c", "d"],
        });

        var lex = L.tileLayer('http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
                key: 'BC9A493B41014CAABB98F0471D759707'
        })

        var mbTiles = new L.tileLayer('/bus/{z}/{x}/{y}.png', {
            attribution: 'Tiles Courtesy of <a href="http://tiles.mapbox.com/mapbox/map/geography-class" target="_blank">MapBox</a>',
            opacity: 0.7
        });

        map = new L.Map("map",{
                layers: [lex, mbTiles],
                center: [53.4750,-2.2522],
                zoom: 9,
                minZoom: 8,
                maxZoom: 16
        });
        var fullScreen = new L.Control.FullScreen(); 
        map.addControl(fullScreen);

        var baseLayers = {
                "Hosted Tiles": hostedTiles,
                "MapQuest OSM": mapquestOSM,
                "Leaflet example": lex
        };
        var overlays = {
                "Local MBTiles File": mbTiles
        };

        layersControl = new L.Control.Layers(baseLayers, overlays, {
                collapsed: false
        });

        map.addControl(layersControl);
    </script>

    <h2>Time Information</h2>
    <p>(Broken)</p>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Test', 'Stagecoach', 'First', 'Arriva', 'Other'],
["00:00:00", 9234 , 7551 , 2059 , 4841 , ],
["01:00:00", 9217 , 7549 , 2059 , 4836 , ],
["02:00:00", 9209 , 7549 , 2059 , 4833 , ],
["03:00:00", 9201 , 7549 , 2059 , 4830 , ],
["04:00:00", 9195 , 7549 , 2058 , 4828 , ],
["05:00:00", 9171 , 7529 , 2056 , 4823 , ],
["06:00:00", 8999 , 7368 , 2036 , 4800 , ],
["07:00:00", 8520 , 6964 , 1937 , 4650 , ],
["08:00:00", 7858 , 6415 , 1787 , 4342 , ],
["09:00:00", 7239 , 5909 , 1644 , 4027 , ],
["10:00:00", 6599 , 5375 , 1484 , 3633 , ],
["11:00:00", 5978 , 4837 , 1324 , 3252 , ],
["12:00:00", 5364 , 4299 , 1164 , 2876 , ],
["13:00:00", 4754 , 3758 , 1004 , 2509 , ],
["14:00:00", 4129 , 3222 , 844 , 2132 , ],
["15:00:00", 3498 , 2675 , 688 , 1746 , ],
["16:00:00", 2861 , 2137 , 535 , 1383 , ],
["17:00:00", 2224 , 1608 , 378 , 1020 , ],
["18:00:00", 1607 , 1110 , 233 , 717 , ],
["19:00:00", 1141 , 740 , 155 , 532 , ],
["20:00:00", 812 , 536 , 117 , 398 , ],
["21:00:00", 563 , 383 , 82 , 276 , ],
["22:00:00", 342 , 233 , 47 , 159 , ],
["23:00:00", 133 , 85 , 14 , 49 , ],
        ]);

        var options = {
          title: 'Broken Monday Graph',
          vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}},
          isStacked: true
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
    <hr>

    <footer>

    </footer>
    </div>
</body>
</html>
